root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main ./cmd/server/main.go"
bin = "./tmp/main"
exclude_dir = ["assets", "tmp", "vendor", "frontend", "dist"]
include_ext = ["go", "tpl", "tmpl", "html"]
delay = 1000

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"