services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tolka_local
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=local
    restart: unless-stopped